@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  position: relative;
  z-index: 100;
  user-select: none;
}

h4{
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(248, 170, 26, 0.6);
  border-radius: 50px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

body{
  overflow: hidden!important;
}

.colorRed{
  color: red;
  position: absolute;
  bottom: -69px;
  font-size: 14px;
  
}

header{
  width: 100%;
  height: 8vh;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}

header nav{
  width: 100%;
  height: 100%;
}

header nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}

header nav ul li{
  list-style: none;
  text-decoration: none;
  width: 100px;
  height: 100%;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

p{
  margin-bottom: 0 !important;
}

header nav ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  text-decoration: none;
  color: #fff;
}

header nav ul li a:hover{
  background-color: hsla(0, 0%, 7%, 0.5);
}

main{
  height: 92vh;
}

body{
  background-image: url('../../public/mainImage.jpg');
    background-repeat: no-repeat;
    background-position: 0;
    background-size: cover;
    height: 100vh;
}

main div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

main div h1{
  font-size: 30px;
  font-weight: 100;
}

main div h3{
  font-weight: 100;
  font-size: 20px;
}

.mainEmpezar{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 160px;
  border-radius: 30px;
  transition: all 0.3s;
  margin-top: 20px;
  text-decoration: none;
}

.mainEmpezar:hover{
  transform: scale(0.95);
  background-color: rgba(156, 114, 36, 0.6);
}

/* TOURNAMENTS */

.tournaments{
  width: 100%;
  height: 92%;
  display: flex;
}

.tournamentsContainer{
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  max-width: 23%;
}

.tournamentFlex{
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 130px;
}


.startTournament{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
  text-decoration: none;
}

.startTournament:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.createTournament{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  height: 130px;
  width: 100%;
  justify-content: space-between;
}

.createTournament h4{
  color: #fff;
  width: 100%;
}

.createTournament input{
  height: 40px;
  padding: 5px;
  width: 100%;
}

.createTournament input:focus{
  outline: none ;
  box-shadow: none;
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px; 
}

.createTournament button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
}

.createTournament button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.tournamentResults{
  width: 100%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  height: 60vh;
  margin-top: 50px;
  overflow-y: auto ;
}

.baseClass{
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.baseClass:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.colorGreen{
  color: green !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 65px;
}

.armozaElo{
  font-size: 18px !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  width: 120px !important;
}

.armozaEloFastAdd{
  font-size: 18px !important;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px !important;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  width: 120px !important;
}

.armozaEloFastAdd i{
  height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
}

.armozaElo i{
  height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
}

.armozaEloFinalResults i{
  height: 14px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
}

.tournamentDate{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
}

.playerElo{
  height: 40px;
  width: 120px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 50px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  border-right: 1px solid rgba(202, 202, 202, 0.5);
}

.playerEloFinalResults{
  height: 40px;
  width: 120px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 70px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  border-right: 1px solid rgba(202, 202, 202, 0.5);
}

.deleteTournamentButton{
  height: 39px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px !important;
  font-size: 20px;
  background-color: rgba(128, 0, 0, 0.5);
  position: absolute;
  right: 0;
}

.deleteTournamentButton:hover .trashIcon{
  transform: scale(0.95);
}

.deleteTournamentButtonHover:hover{
  background-color: rgba(128, 0, 0, 0.8)
}

.trashIcon{
  transition: transform 0.3s;
}

.selectedTournament{
  background-color: rgba(156, 114, 36, 0.6);
}

.selectedPlayer{
  background-color: rgba(156, 114, 36, 0.6);
  outline: 1px solid rgb(248, 170, 26) !important;
  border-bottom: 0 !important;
}

.modalContainer{
  width: 700px;
  border: none !important;
}

.modalHeader{
  background-color: hsla(0, 0%, 0%, 0.9);
  color: #fff;
  border-bottom: 0 !important;
  border-radius: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.modalHeader p{
  text-align: center;
  margin: 5px;
}

.modalHeader span{
margin: 5px;
}

.modalBody{
  background-color: hsla(0, 0%, 0%, 0.8);
}

.modal{
  --bs-modal-width: 700px !important;
    --bs-modal-border-radius: 0 !important
}

.modalFooter{
  border-top: 0 !important;
  border-radius: 0 !important;
  background-color: hsla(0, 0%, 0%, 0.9)!important;
}

.finalResultsScroll {
  padding-left: 0!important;
}

.modalBody p{
  color: #fff;
  text-align: center;
}

.modalBody > p > span {
  color: rgb(248, 170, 26) !important;
  font-size: 16px;
}

.closeModalBtn, .updateModalBtn{
  background-color: #333  !important;
  outline: 1px solid #222 !important;
  border-bottom: 0 !important;
  border: 0 !important;
  transition: all 0.3s;
  border-radius: 0 !important;
  text-decoration: none !important;
  color: #fff !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 180px !important;
}

.closeModalBtn:hover{
  background-color: #222 !important;
  
  outline: 1px solid #222 !important;
}

.updateModalBtn:hover{
    outline: 1px solid rgb(248, 170, 26) !important;
  background-color: rgba(156, 114, 36, 0.6) !important;
}

.modalInputsContainer{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

}

.modalInputsContainer input{
  color: black;
  padding: 10px;
  height: 40px;
  width: 100%;
}

.selectedPlayer:first-child{
  border-top: none !important;
}

.playersContainer{
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between !important;
  padding: 40px !important;
}

.playersResultsContainer{
  display: flex;
  height: 60vh !important;
  margin-top: 50px;
  max-height: 60vh !important;
}

.playersResults h3{
  font-size: 16px;
  margin-bottom: 0 !important;
}

.startedTournament{
  background-color: rgba(0, 128, 0, 0.2);
  border: none !important; 
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
}

.startedTournament:hover{
  background-color: rgba(0, 128, 0, 0.3);
}

.finishedTournament{
  background-color: rgba(128, 0, 0, 0.2);
  border: none !important; 
  border-bottom: 1px solid rgba(202, 202, 202, 0.5) !important;
}

.finishedTournament:hover{
  background-color: rgba(128, 0, 0, 0.3)!important;
}

.selectedFinishedTournament{
  background-color: rgba(128, 0, 0, 0.3)!important;
}

.selectedStartedTournament{
  background-color: rgba(0, 128, 0, 0.3);
}

.playersResults{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  justify-content: flex-end;
  margin-right: 20px;
}

.playersResults > div span:first-child{
  width: 100%;
  display: flex;
  align-items:center !important;
  height: 40px;
}

.editPlayerName{
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  font-size: 10px !important;
  position: absolute;
  right: 180px;
}


.confirmPlayerName{
  width: 20px;
  height: 20px;
  display: flex;
  align-item: center;
  justify-content: center;
  font-size: 10px !important;
  position: absolute;
  right: 130px;
}


.playersResults input{
  background: transparent;
  width: 60% !important;
  height: 40px;
  outline: none !important; 
  border: none !important;
}

.tournamentDetailsInfo{
  width: 50% !important;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 130px !important;
  
}

.tournamentDetailsInfo > div{
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  height: 90px !important;
}

.tournamentDetailsInfo > div > div:first-child{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
}

.tournamentDetailsInfo > div > div:first-child label{
  margin-bottom: 10.5px;
}

.tournamentDetailsInfo > div > div:first-child > div{
  display: flex;
  flex-direction: row;
  width: 100%;

  height: fit-content;
}

.tournamentDetailsInfo > div > div:first-child > div button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 40px !important;
  transition: all 0.3s;
  box-sizing: content-box;
}

.tournamentDetailsInfo > div > div:first-child > div button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.playersResultsFastAdd{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  height: 100% !important;
  justify-content: flex-end;
  margin-left: 20px;
}

.playersResultsFastAdd h3{
  font-size: 16px;
  margin-bottom: 0 !important;
}

.playersResultsFastAdd:last-child{
  margin-right: 0 !important;
}

.playersResultsFastAdd h3 span:last-child{
  background-color: transparent !important;
  border-left: 1px solid rgba(202, 202, 202, 0.5) !important;
}

.playersResultsFastAdd div{
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tournamentName{
  color: rgb(248, 170, 26)
}

.playersResultsFastAdd h3{
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(156, 114, 36, 0.6);
  width: 100%;
  padding: 10px;
  z-index: 2000;
  border-bottom: 1px solid rgb(248, 170, 26) !important;
}

.playersResultsFastAdd p{
  transition: all 0.3s;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playersResultsFastAdd p > span{
  display: flex;
}

.playersResultsFastAdd p:hover{
  background-color: rgba(156, 114, 36, 0.6);
}


.playersResults:last-child{
  margin-right: 0 !important;
}

.playersResults div{
  height: 91%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tournamentName{
  color: rgb(248, 170, 26)
}

.playersResults h3{
  height: 40px;
  display: flex;
  align-items: center;
  background-color: rgba(156, 114, 36, 0.6);
  width: 100%;
  padding: 10px;
  z-index: 2000;
  border-bottom: 1px solid rgb(248, 170, 26) !important;
}

.playersContainer h3 span:last-child{
  background-color: rgba(248, 170, 26, 0.4);
  height: 40px;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
  position: absolute;
  right: 0 !important;
  border: 1px solid rgba(248, 170, 26, 0.4); ;
}

.playersResults p{
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  cursor: pointer;
  height: 40px;
  padding: 10px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.playersResults p > span{
  display: flex;
}

.playersResults p:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.addPlayer{
  height: 130px;
  display: flex;
}

.addPlayerContainer{
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 50% !important;
  height: 130px !important;
  margin-right: 20px;
  align-items: flex-start !important;
  justify-content: space-between !important;
}

.addPlayerDiv{
  width: 100% !important;
  display: flex;
  flex-direction: row !important;
  height: 40px !important;
  justify-content: space-between !important;
  overflow: hidden;
  flex-wrap: nowrap;
}

.addPlayerContainer > h4{
  color: #fff;
}

.addPlayerContainer button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  transition: all 0.3s;
}

.addPlayerContainer button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}


.addPlayerDiv input{
  height: 40px !important;
  padding: 0 0 0 5px;
  width: 48%;
}

input[type="radio"] {
  appearance: none; /* Oculta el estilo por defecto del navegador */
  outline: 1px solid #fff ;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

/* Estilo del input tipo radio cuando está seleccionado */
input[type="radio"]:checked::before{
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: rgb(248, 170, 26) ; /* Color de fondo del círculo seleccionado */
}

input[type="radio"]:focus {
  appearance: none; /* Oculta el estilo por defecto del navegador */
  outline: 1px solid #fff ;
  border: none !important;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:focus::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(248, 170, 26) ;
}

input:focus{
  outline: none ;
  box-shadow: none;
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px; 
}

.addPlayer input:focus{
  border: 1px solid rgb(248, 170, 26); /* Puedes ajustar el color y el ancho según tus preferencias */
  border-radius: 5px;
}

.addPlayer button{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93px;
  width: 20%;
  transition: all 0.3s;
  margin-top: 13px;
  box-sizing: content-box;
}

.tournamentRounds{
  width: 50px !important;
  background-color: #fff;
  width: 50px;
  height: 40px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.tournamentRoundsStarted{
  width: 50px !important;
  background-color: #ffffff59;
  width: 50px;
  height: 40px;
  display: flex;
  padding-left: 5px;
  align-items: center;
}

.byeContainer{
  display: flex;
  flex-direction: column!important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  width: 80%;
}

.containerBye{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px !important;
}

.containerBye input:first-child{
  margin-left: 6px !important;
}

.containerBye input:last-child{
  margin-left: 6px !important
}

.byeContainer p{
  color: #fff;
  margin-bottom: 10px !important
}

.tournamentDetails label {
  color: #fff;
}

.inputBye{
  margin: 10px !important;
}

.inputBye:active{
  border: none !important;
  outline: none !important
}

.addPlayer button:hover{
  background-color: rgba(156, 114, 36, 0.6);
}

.tournamentDetails{
  height: 130px !important;
  min-height: 130px !important;
  width: 100%;
  display: flex;
}

.tournamentDetails > div{
  height: 90px;
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}

.tournamentDetails > div > div{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tournamentDetails > div > div > label{
  margin-bottom: 13px;
}


.tournamentDetails > div > div > div{
  display: flex;
}

.tournamentDetails > div > div > div > div{
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 30px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.tournamentDetails > div > div > div > div button{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.d-none{
  display: none !important;
}

.addPlayerButton{
  height: 39px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  font-size: 20px;
  background-color: rgba(3, 176, 43, 0.25);
  right: 0 !important;
}

.addPlayerButton:hover{
  background-color: rgba(3, 176, 43, 0.5);
}

.addIcon{
  transition: all 0.3s;
}

.addPlayerButton:hover .addIcon{
  transform: scale(0.9)
}


/* STARTED TOURNAMENT */

.startedTournamentContainer{
  display: flex;
  justify-content: space-between;
}

.startedTournamentRoundsContainer{
  width: 100%;
  display: flex;
  position: absolute;
  top: 20px;
  height: 70px;  
  z-index: 200000;
}

.selectedRound{
  background-color: rgba(156, 114, 36, 0.6) !important;
  border: 1px solid rgb(248, 170, 26) !important;
  cursor: pointer !important;
}

.startedTournamentRoundsContainer > div {
  width: 70%;
  overflow: hidden;
  padding: 0 40px;
  margin-right: 30px;
}

.startedTournamentRoundsContainer > div > div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  overflow-x: auto;
  overflow-y: hidden;
}


.startedTournamentRoundsContainer > div > div > div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50px;
  width: 100%;
}

.startedTournamentRoundsContainer > div > div > div > p{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  width: 120px;
  max-width: 120px;
  padding: 10px;
  display: flex;
  height: 50px !important;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid hsla(0, 0%, 13%, 0.8);
  margin-right: 10px !important;
}


.startedTournamentRoundsContainer > div > div > div> p:hover{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26) 
}

.startedTournamentRoundsContainer > div button{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  padding: 20px;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 20px;
  color: #fff;
  width: 90%;
}

.startedTournamentRoundsContainer > div button:hover{
  background-color: hsla(0, 0%, 13%, 0.8);
  border: 1px solid hsla(0, 0%, 13%, 0.8);
}

.startedTournamentPairing{
  width: 70%;
}

.startedTournamentResults{
  width: 30%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 150px;
  right: 40px;
}

.startedTournamentResults ul{
  height: fit-content;
  max-height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow-x: auto;
  padding-left: 0 !important;
}

ul{
  padding-left: 0 !important;
}

.startedTournamentResults ul div{
  overflow: auto;
}

.startedTournamentResults ul li{
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  background-color: hsla(0, 0%, 13%, 0.8);
  padding-right: 10px;
}

.startedTournamentResults ul > li:first-child{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  padding: 10px;
  padding-left: 50px !important;
}

.startedTournamentResults ul div li span:first-child{
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.startedTournamentResults ul div li span > span:first-child {
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  height: 40px;
  width: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.startedTournamentResults ul div li span > span {
  background-color: rgba(156, 114, 36, 0.6);
  border-right: 1px solid rgb(248, 170, 26);
  border-left: 1px solid rgb(248, 170, 26);
  border-bottom: none !important;
  height: 40px;
  width: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.startedTournamentResults ul > li > span:last-child {
  height: 40px;
  display: flex;
  width: 60px;
  align-items: center;
  justify-content: flex-end;
  right: 0;    
  border-left: 1px solid rgba(202, 202, 202, 0.5);
}

.spaceButNotDNone{
  background-color: transparent !important;
  color: transparent !important;
}

/* PAIRING */

.pairingContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 92vh;
  padding: 40px;
  padding-top: 0;
}

.pairingContainer ul{
  margin-top: 150px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  margin-bottom: 40px;
  overflow-y: auto;
}

.pairingsDivLiContainer{
  display: flex;

}

.pairingsDivLiContainer > span{
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 15px;
}

.pairingContainer ul li{
  display: flex;
  color: #fff;
  width: 100%;
  align-items: center;
  height: 40px;
  background-color: hsla(0, 0%, 13%, 0.6);
  margin: 10px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-height: 80px;
  
    margin-right: 20px !important;
}

.pairingContainer ul li{
  margin-top: 0 !important;

}

.greenElo{
  color: rgb(138, 204, 138) !important;
}

.redElo{
  color: rgb(211, 118, 118) !important;
}

.pairingContainer ul li > span:first-child > span{
  display: flex;
  align-items: center;
  justify-content: right;
  height: 40px;
  padding-right: 10px;
}

.pairingContainer ul li span{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 33.3%;
}

.pairingContainer ul li > span:last-child{
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 0;
}

.pairingContainer ul li span:first-child{
  padding-left: 10px;
}

.pairingContainer ul li span button{
  height: 40px !important;
  width: 100%;
  display: flex;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(248, 170, 26);
}

.pairingContainer ul li span button:nth-child(2){
  background-color: hsla(0, 0%, 13%, 0.4);
  border-right: none !important;
  border-left: none !important;
}

.pairingContainer ul li span button:last-child{
  color: #000;

}

.pairingContainer ul li span button:hover:not(.changeResultsButton){
  background-color: hsla(0, 0%, 13%, 0.8);
}

.buttonReemparejar{
    background-color: rgba(156, 114, 36, 0.6);
    border: 1px solid rgb(248, 170, 26);
    width: 30%;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s;
    left: -50px !important;

}

.buttonReemparejarFinished{
    background-color: hsla(0, 0%, 13%, 0.8) !important;
    border: 1px solid hsla(0, 0%, 13%, 0.8) !important;
    width: 90%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: all 0.3s;
    margin-top: 40px;
}

.buttonReemparejar:hover{
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  border: 1px solid hsla(0, 0%, 13%, 0.8) !important
}

.nextRoundContainer{
  width: 100%;
  border: none !important;
  overflow: hidden !important;
}

.nextRound{
  color: #fff;
  background-color: rgba(156, 114, 36, 0.6);
  border: 1px solid rgb(248, 170, 26);
  width: 100% !important;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none !important;
}

.byeButton{
  color: #fff !important;
}

.nextRound:hover{
  background-color: hsla(0, 0%, 13%, 0.8);
  border: 1px solid hsla(0, 0%, 13%, 1);
}

.nextRoundDisabled{
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  margin-top: 20px;
  width: 100%;
  height: 40px;
  cursor: default !important;
}

.selectedWinner{
  background-color: rgba(156, 114, 36, 0.6) !important;
}

.selectedBye{
  color: #fff !important;
  background-color: rgba(156, 114, 36, 0.6) !important;
}

.disabledRound{
  background-color: hsla(0, 0%, 13%, 0.8) !important;
  cursor: default!important;

}

.disabledRound:hover{
  border: 1px solid hsla(0, 0%, 13%, 0.8) !important;
}

.finalResultsContainer{
  width: 50%;
  color: #fff;
  background-color: hsla(0, 0%, 13%, 0.8);
  height: 60vh;
  justify-content: flex-end;
  margin-left: 20px;
}

.finalResults{
  height: 90%;
}

.finalResultsScroll{
  height: 100% !important
}

.finalResults li{
  width: 100%;
  border-bottom: 1px solid rgba(202, 202, 202, 0.5);
  height: 40px !important;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
}

.finalResults li span:first-child{

  width: 50%;
  display: flex;
  align-items: center;
}

.firstPlaceTrophy{
  margin: 10px;
  font-size: 20px;
  color: gold;
}

.secondPlaceTrophy{
  margin: 10px;
  font-size: 20px;
  color: silver;
}

.thirdPlaceTrophy{
  margin: 10px;
  font-size: 20px;
  color: rgb(192, 75, 25);
}

.finalResults p{
  height: 40px;
  background-color: rgba(156, 114, 36, 0.6);
  border-bottom: 1px solid rgb(248, 170, 26);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px
}

.finalResults p span:last-child{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 60px;
}

.finalResultsPoints{
  width: 60px;
  height: 40px;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.armozaEloStartedTournament{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 70px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  border-right: 1px solid rgba(202, 202, 202, 0.5);
  width: 120px !important;
}

.armozaEloFinalResults{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 70px;
  position: absolute;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid rgba(202, 202, 202, 0.5);
  border-right: 1px solid rgba(202, 202, 202, 0.5);
  width: 120px !important;

}